{% extends 'base.html' %}
{% block content %}

<div class="pl-5 pr-5">
  <div class="pl-5 pr-5">
    <div class="pl-5 pr-5">
      <div class="pl-5 pr-5">
        <div class="pl-5 pr-5">
        <div class="pl-5 pr-5">
        <div class="pl-5 pr-5">
          <div class="pt-5 pl-5 pr-5">
            <div class="pl-5 pr-5">
              <div class="pl-5 pr-5">
                <div class="pl-5 pr-5">
                  <div class="card">
                    <div class="card-body">
                      <div class="m-sm-4">
                        <form action="{% url 'change_reklama' pk %}" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <div class="form-group">
                            <label>Title</label>
                            <input class="form-control form-control-lg" type="text" name="title" placeholder="Enter title">
                          </div>
                          <div class="form-group">
                            <label>Text</label>
                            <input class="form-control form-control-lg" type="text" name="text" placeholder="Enter Text">
                          </div>
                          <div class="form-group">
                            <label>Img</label>
                            <input class="form-control form-control-lg" type="file" name="img">
                          </div>
                          <div class="form-group">
                            <label>Link</label>
                            <input class="form-control form-control-lg" type="url" name="link" placeholder="Enter link">
                          </div>
                          <div class="text-center mt-3">
                            <button type="submit" class="btn btn-lg btn-primary">Change</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
              </div>
              </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

{% block script %}
{% endblock script %}