{% extends 'base.html' %}
{% block content %}

<div class="pt-5" style="display: flex; justify-content: center">
  <div class="card" style="width: 550px">
    <div class="card-body">
      <div class="m-sm-4">
        <form action="{% url 'change_information' pk %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label>company</label>
            <input class="form-control form-control-lg" type="text" value="" name="company_name" placeholder="Enter company_name">
          </div>
          <div class="form-group">
            <label>Logo</label>
            <input class="form-control-file" type="file" name="logo">
          </div>
          <div class="form-group">
            <label>description</label>
            <textarea name="description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Google play</label>
            <input class="form-control form-control-lg" type="url" name="googleplay" placeholder="Enter google play url">
          </div>
          <div class="form-group">
            <label>AppStore</label>
            <input class="form-control form-control-lg" type="url" name="appstore" placeholder="Enter appstore url">
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-lg btn-primary">Change</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
{% endblock script %}