{% extends 'base.html' %}
{% block content %}
      <main class="content">
        <div class="container-fluid p-0">
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-12 d-flex">
              <div class="card flex-fill">
                <div class="card-header">
                  <div class="" style="display: flex; justify-content: right;">
                  <h5 class="card-title mb-0 col-12 pl-5">All districts</h5>
                    <a href="{% url 'district_add' %}"><button  class="btn btn-secondary">Add</button></a>
                  </div>
                </div>
                <table id="datatables-dashboard-projects" class="table table-striped my-0">
                  <thead>
                    <tr>
                        <th>Name</th>
                        <th class="d-none d-xl-table-cell">Change</th>
                        <th class="d-none d-xl-table-cell">Delete</th>
                    </tr>
                    </thead>
                  <tbody>
                    {% for i in district %}
                    <tr>
                      <td class="d-none d-xl-table-cell"><a href="#" style="text-decoration: None; color: black">{{i.name}}</a></td>
                      <td class="d-none d-xl-table-cell"><a href="{% url 'district-change' i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                      <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                      </svg></a></td>
                       <td class="d-none d-xl-table-cell"><a href="{% url 'district-delete' i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg></a></td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>

{% endblock content %}

{% block script %}
{% endblock script %}