{% extends 'base.html' %}
{% block content %}

	<main class="main d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row h-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form action="{% url 'district-change' pk %} " method="post">
										{% csrf_token %}
										<div class="form-group">
											<label>Name</label>
											<input class="form-control form-control-lg" type="text" name="name" placeholder="Enter name">
										</div>
										<div class="text-center mt-3">
											<button type="submit" class="btn btn-lg btn-primary">change</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>



{% endblock content %}

{% block script %}
{% endblock script %}