{% extends 'base.html' %}
{% block content %}

<br>
<div style="display: flex; justify-content: right"><a href="{% url 'create_information' %}" class="addlink">+ Add Info</a></div>
<br><br>
{% if info is not None %}
    {% if info.status == 1 %}
            <div class="row" style="display: flex; justify-content: center">
                <div class="col-4" style="width: 500px">
                    <div class="card">
                    <div class="card">
                        <img src="{{ info.logo.url }}" style="width: 300%;" class="card-img-top" alt="{{ i.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ info.company_name }}</h5>
                            <p class="card-text">{{ info.description }}</p>
                            <a href="{% url 'change_information' info.id %}" class="btn btn-primary">Change</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'delete_information' info.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div style="display: flex; justify-content: center">
            <h1>Information is no</h1>
        </div>
    {% endif %}
{% else %}
    <div style="display: flex; justify-content: center">
        <h1>Information is no</h1>
    </div>
{% endif %}

{% endblock content %}

{% block script %}
{% endblock script %}